html {
  font-size: 12px;
  font-family: tahoma;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1e5d5;
  color: #333;
}

p {
  font-size: 1.6rem;
}

small {
  font-size: 1.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  max-height: auto;
}  

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 3rem;
  align-self: center;
  color: #4bb84b;
}

.button, .input {
  padding: 15px;
  border-radius: 15px;
  margin: 10px;
}

.label {
  font-size: 1.6em;
  text-align: center;
}

.input {
  width: 400px;
  font-size: 1.6rem;
}

.button {
    align-self: center;
    width: 100px;
    font-size: 1.4rem;
    color: #fff;
    background-color: #4bb84b;
    cursor: pointer;
    transition: background-color 250ms;
}

.button:hover {
  background-color: #666;
}

.card--list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto; 
}

.card {
  margin: 20px;
  box-shadow: 1px 1px 5px #333;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  width: 300px;
  height: auto;

}

.card--desc {
  font-size: 1.3rem;
}

.card--image {
  display: block;
  margin: 0 auto;
}

@media (min-width: 786px){
  .container {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin: 20px;
    max-height: auto;
  }

  .form{
      align-self: center;
  }
}

